<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="redis" type="RedisMemoryCacheInvalidation.Configuration.RedisConfigurationSection, RedisMemoryCacheInvalidation" />
	</configSections>
	<redis host="localhostv2" port="666"  iotimeout="18" password="pong" maxunsent="34" allowadmin="true" synctimeout="52" ></redis>
</configuration>